body{
	font-size: 45pt;
	font-family: 'tommy_hilfiger_afregular', sans-serif;
	background-image: url(../pic/background.png);
	color:black;
}
div{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
}
@font-face {
    font-family: 'tommy_hilfiger_afregular';
    src: url('font/tommy___-webfont.eot');
    src: url('font/tommy___-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/tommy___-webfont.woff') format('woff'),
         url('font/tommy___-webfont.ttf') format('truetype'),
         url('font/tommy___-webfont.svg#tommy_hilfiger_afregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
